Package: com.youjf.justinput
Version: 1.3.0
Depends: 
Section: Chinese
Architecture: all
Priority: optional
Maintainer: Jeffery <i@youjf.com>
Source: {"Source":"http://code.google.com/p/justinput/source/browse/","Feed":"youjf.com","Type":"Application","Category":"1.4.1"}
Description: Chinese IME plugin for WebOS by @jefferycn
