<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="left icon palm-account-icon sim"></div>
		<div class="title">操作说明</div>
	</div>
</div>

<div class="palm-text-wrapper">
	<div class="palm-body-text">1. 使用空格选字, 默认选择中间字词</div>
	<div class="palm-body-text">2. "@" 键活动字词左移, "." 键活动字词右移</div>
	<div class="palm-body-text">3. 输入完成以后, 输入字词已自动复制到粘贴板</div>
	<div class="palm-body-text">4. 任何界面通过双击手势区激活输入法, 激活状态双击手势区关闭输入法</div>
	<div class="palm-body-text">JustInput 是开源免费软件, 由 Jeffery 制造并发布</div>
	<div class="palm-body-text"><a href="http://youjf.com/justinput/">http://youjf.com/justinput/</a></div>
</div>
