<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="left icon palm-account-icon sim"></div>
		<div class="title">操作说明</div>
	</div>
</div>

<div class="palm-text-wrapper">
<input type="text">
	<div class="palm-body-text">双击手势区，你会在左上角看到小绿点，此时输入法处于激活状态</div>
	<div class="palm-body-text">再次双击手势区，小绿点消失，进入英文输入状态</div>
	<div class="palm-body-text">候选词一共有3个，使用“@”选择最左边的候选字，“空格”和“.”分别选择中间和最右边的候选字</div>
	<div class="palm-body-text">如果候选字需要翻页，使用“,”向后翻页，使用“■”+“,”向前翻页</div>
	<div class="palm-body-text">默认标点符号为中文标点，输入“ucn”+"空格"切换英文标点与中文标点</div>
	<div class="palm-body-text"></div>
    <div class="palm-body-text">JustInput 是开源免费软件, 由 Jeffery 制造</div>
    <div class="palm-body-text">twitter @jefferycn</div>
	<div class="palm-body-text">请勿用于商业用途</div>
	<div class="palm-body-text"><a href="http://youjf.com/justinput/">http://youjf.com/justinput/</a></div>
</div>
