<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr">
		Just Input
	</div>
</div>
<div class="palm-group">
	<div class="palm-list">
   		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
      				<div id="text" x-mojo-element="TextField"></div>
				</div>
			</div>
		</div>
		<div class="palm-divider solid"></div>
   		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group">
				<div class="title">
      				<div id="result" class="black" x-mojo-element="TextField"></div>
      				<div id="select" class="black" x-mojo-element="TextField"></div>
      				<div id="debug" x-mojo-element="TextField"></div>
				</div>
			</div>
		</div>
		<div class="palm-row single">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ToggleButton" id="toggle"></div>
				<div class="title truncating-text" x-mojo-loc=''>
					输入拼音
				</div>
			</div>
		</div>
		<div class="palm-row single">
			<div class="palm-row-wrapper">                                        
				<div class="title right">Created by jefferycn</div>
			</div>
		</div>
	</div>
</div>