<div class="palm-page-header">
    <div class="palm-page-header-wrapper">
        <div class="icon news-mini-icon"></div>
        <div class="title">输入法设置</div>             
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title"><span>候选词数量</span></div>
        <div class="palm-list">
            <div x-mojo-element="IntegerPicker" id="wordsPageSize"></div>
        </div>
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title"><span>候选词选择键设置</span></div>
           <div class="palm-list">
            <div class="palm-row">
                <div class="palm-row-wrapper">
                	<div id="debug"></div>
                    <div class="palm-button myclass" id="selecting_0"></div>
                    <div class="palm-button myclass" id="selecting_1"></div>
                    <div class="palm-button myclass" id="selecting_2"></div>
                    <div class="palm-button myclass" id="selecting_3"></div>
                    <div class="palm-button myclass" id="selecting_4"></div>
                    <div class="palm-button myclass" id="selecting_5"></div>
                    <div class="palm-button myclass" id="selecting_6"></div>
                    <div class="palm-button myclass" id="selecting_7"></div>
                </div>
            </div>
        </div>
    </div>
</div>