<div class="palm-page-header">
    <div class="palm-page-header-wrapper">
        <div class="icon news-mini-icon"></div>
        <div class="title">输入法设置</div>             
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title"><span>候选词数量</span></div>
        <div class="palm-list">
            <div x-mojo-element="IntegerPicker" id="wordsPageSize"></div>
        </div>
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title"><span>候选词选择键设置</span></div>
           <div class="palm-list">
            <div class="palm-row">
                <div class="palm-row-wrapper">
                       <div x-mojo-element="Button" class="palm-button" id="selecting_0">候选词一</div>
                       <div x-mojo-element="Button" class="palm-button" id="selecting_1">候选词二</div>
                       <div x-mojo-element="Button" class="palm-button" id="selecting_2">候选词三</div>
                       <div x-mojo-element="Button" class="palm-button" id="selecting_3">候选词四</div>
                       <div x-mojo-element="Button" class="palm-button" id="selecting_4">候选词五</div>
                       <div x-mojo-element="Button" class="palm-button" id="selecting_5">候选词六</div>
                       <div x-mojo-element="Button" class="palm-button" id="selecting_6">候选词七</div>
                       <div x-mojo-element="Button" class="palm-button" id="selecting_7">候选词八</div>
                </div>
            </div>
        </div>
    </div>
</div>