[D-BUS Service]
Name=com.youjf.jisrv
Exec=/usr/bin/luna-helper 'luna://com.palm.vm/launch' '{"serviceName":"com.youjf.jisrv","className":"com.youjf.JustInputService"}'
