.justinputCanvas {
    position: absolute;
	height: 37px;
	font-size: 16px;
    color: #333;
	text-decoration: none;
	z-index: 133500;
}

.justinputCanvas a {
	font-size: 16px;
    color: #333;
	text-decoration: none;
}

.justinputCanvas ul, .justinputCanvas li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#board {
    padding: 0px 11px;
    text-align: left;
}

.tabWrapTop {
    text-align: center;
	float: left;
	line-height: 37px;
	background: url(/usr/palm/frameworks/mojo/justinput/navBg.jpg) repeat-x;
}
.tabUnselect, .tabSelect, .tabSelectLeft, .tabSelectRight {
	float: left;
	height: 37px;
}
.tabUnselect a {
	float: left;
	height: 37px;
	padding: 0px 11px;
	background: url(/usr/palm/frameworks/mojo/justinput/navSpliteLine.jpg) right top no-repeat;
}

.tabSelect a {
	color: #FFF;
	background: url(/usr/palm/frameworks/mojo/justinput/navBgHover.jpg);
}