.justinputCanvas {
position: absolute;
color: #333;
text-decoration: none;
-webkit-border-image: url(/media/cryptofs/apps/usr/palm/applications/com.youjf.justinput/justinput/palm-popup-background.png) 24 24 24 24 repeat repeat;
-webkit-box-sizing: border-box;
border-width: 24px;
height: 74px;
min-width: 170px;
}

.justinputCanvas ul, .justinputCanvas li {
margin: 0px;
padding: 0px 6px;
list-style: none;
font-size: 20px;
font-weight: bold;
-webkit-box-sizing: content-box;
}

.justinputCanvas .contentWrap {
margin-left: -10px;
margin-right: -10px;
margin-top: -13px;
}

.justinputCanvas .boardWrap li {
border-bottom: 1px solid rgb(153, 153, 153);
font-size: 16px;
}

.justinputCanvas .tabWrapTop {
text-align: center;
float: left;
line-height: 34px;
}

.justinputCanvas .tabUnselect {
float: left;
}

.justinputCanvas .tabSelectA {
color: rgb(166, 99, 119);
}

.justinputCanvas .tabSelectB {
color: rgb(31, 117, 191);
}
