<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="left icon palm-account-icon"></div>
		<div class="title">JustInput</div>
	</div>
</div>
<input id="debug" type="text" name="debug" />
<div class="palm-group">
	<div class="palm-group-title">CHOOSE</div>
	<div class="palm-list">
		<div class="palm-row single" x-mojo-touch-feedback="delayed">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ListSelector" id="ime-selector"></div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">SETTINGS</div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ToggleButton" id="study-toggle"></div>
				<div class="title left truncating-text">学习模式</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ToggleButton" id="background-toggle"></div>
				<div class="title left truncating-text">快速启动</div>
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ToggleButton" id="punctuation-toggle"></div>
				<div class="title left truncating-text">中文标点</div>
			</div>
		</div>
	</div>
</div>
